	<div class="top-bar" id="main-menu">
	<div class="top-bar-right">
	<div id="phone_container" class="hide-for-small-only">
		541-678-5633 
	</div>
	<div class="menu-main-nav-container">
		<nav id="flexmenu">
			<div id="mobile-toggle" class="mobile_button btn--link site-header__menu mobile-nav--open">
			  {% include 'icon-hamburger' %}
              {% include 'icon-close' %}
			</div>
			<ul id="main-menu" class="dropdown menu" data-dropdown-menu>
				<li id="menu-item-38" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-36 current_page_item menu-item-38"><a href="http://confluenceflyshop.com/">Home</a></li>
				<li id="menu-item-16" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16"><a href="http://confluenceflyshop.com/blog/">Blog</a></li>
				<li id="menu-item-15" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-15"><a href="http://confluenceflyshop.com/river-reports/">Fishing Reports</a>
					<ul class="vertical menu" data-submenu>
						<li id="menu-item-85" class="menu-item menu-item-type-post_type menu-item-object-report menu-item-85"><a href="http://confluenceflyshop.com/report/lower-deschutes/">Lower Deschutes River</a></li>
						<li id="menu-item-86" class="menu-item menu-item-type-post_type menu-item-object-report menu-item-86"><a href="http://confluenceflyshop.com/report/middle-deschutes/">Middle Deschutes River</a></li>
						<li id="menu-item-87" class="menu-item menu-item-type-post_type menu-item-object-report menu-item-87"><a href="http://confluenceflyshop.com/report/test/">Upper Deschutes River</a></li>
						<li id="menu-item-130" class="menu-item menu-item-type-post_type menu-item-object-report menu-item-130"><a href="http://confluenceflyshop.com/report/crooked-river/">Crooked River</a></li>
						<li id="menu-item-127" class="menu-item menu-item-type-post_type menu-item-object-report menu-item-127"><a href="http://confluenceflyshop.com/report/fall-river/">Fall River</a></li>
						<li id="menu-item-131" class="menu-item menu-item-type-post_type menu-item-object-report menu-item-131"><a href="http://confluenceflyshop.com/report/__trashed/">Metolius River</a></li>
						<li id="menu-item-129" class="menu-item menu-item-type-post_type menu-item-object-report menu-item-129"><a href="http://confluenceflyshop.com/report/mckenzie-river/">McKenzie River</a></li>
						<li id="menu-item-128" class="menu-item menu-item-type-post_type menu-item-object-report menu-item-128"><a href="http://confluenceflyshop.com/report/east-lake/">East Lake</a></li>
						<li id="menu-item-126" class="menu-item menu-item-type-post_type menu-item-object-report menu-item-126"><a href="http://confluenceflyshop.com/report/crane-prairie-reservoir/">Crane Prairie Reservoir</a></li>
						<li id="menu-item-125" class="menu-item menu-item-type-post_type menu-item-object-report menu-item-125"><a href="http://confluenceflyshop.com/report/hosmer-lake/">Hosmer Lake</a></li>
						<li id="menu-item-124" class="menu-item menu-item-type-post_type menu-item-object-report menu-item-124"><a href="http://confluenceflyshop.com/report/davis-lake/">Davis Lake</a></li>
					</ul>
				</li>
				<li id="menu-item-23" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-23"><a href="http://confluenceflyshop.com/events/">Classes &#038; Events</a></li>
				<li id="menu-item-201" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-201"><a href="http://confluenceflyshop.com/guided-trips/">Guided Trips</a></li>
				<li id="menu-item-103" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-103"><a href="#">About</a>
					<ul class="vertical menu" data-submenu>
						<li id="menu-item-74" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-74"><a href="http://confluenceflyshop.com/staff/">staff</a></li>
						<li id="menu-item-104" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-104"><a href="http://confluenceflyshop.com/reviews/">reviews</a></li>
					</ul>
				</li>
				<li id="menu-item-14" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-14"><a href="http://confluenceflyshop.com/contact/">Contact</a></li>
			</ul>
		</nav>
	</div> 
	</div>
	</div>

