<footer class="footer">
  <div class="row clearfix">
    
    <div class="small-12 medium-3  columns">
      <p class="footer_logo hide-for-small-only">{% include 'icon-solo_shield' %} Confluence Fly Shop</p> 
      <p class="footer_logo show-for-small-only">{% include 'icon-reel_icon' %} Confluence</p> 

      <ul class="inline-list social">
        <a href="https://www.facebook.com/ConfluenceFlyShop/?fref=ts">{% include 'icon-facebook2' %}</a>
        <a href="https://www.instagram.com/confluenceflyshop/">{% include 'icon-instagram2' %}</a>
      </ul>
      <p class="copywrite">&copy; Confluence Fly Shop <?php echo date("Y"); ?></p>
    </div>


    <div class="small-12 medium-3 columns drop-col hours-block">
      <p class="hours-title">Shop Hours</p> 
      <p id="hr_1" class="hour-links">
        Mon - Friday 10:00 - 8:00</p>
      <p class="hour-links">
          Sat - 10:00 - 8:00</p>
      <p class="hour-links">
           Sun - 11:00 - 6:00</p>
     </div>

    <div class="small-12 medium-3 drop-col columns">
      <p class="hours-title">Shop Address</p> 
      <p class="hour-links">
      375 SW Powerhouse Dr Suite 100<br />Bend, OR 97702
      </p>
      <p class="hours-title">Shop Phone</p> 
      <p class="hour-links">
        541-678-5633      </p>
    </div>


    <div class="small-12 medium-3 drop-col columns">
        
      <form action="//confluenceflyshop.us7.list-manage.com/subscribe/post?u=3a1d8dbff3b469088b20d7246&amp;id=e2672a7451" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate footer-form" target="_blank" novalidate>
          <div class="row">
            <div class="medium-9 medium-push-3 columns">
             <p class="hours-title">Newsletter Sign-Up</p> 
              <label>
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
              </label>
            </div>
          </div>
            <div class="row">
              <div class="medium-9 medium-push-3 columns align-right">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button submit-btn">
              </div>
            </div>
          </div>
      </form>    
    </div>

  </div>
  <a href="#0" class="cd-top icon-circle-up"></a>
</footer>


</body>
